PORT=3004
CORS_ORIGINS=http://localhost:3000,https://belajaryuk-web.vercel.app
JWT_SECRET=your-super-secret-jwt-key-change-this
JWT_EXPIRES_IN=7d
MONGODB_URI=mongodb://belajaryuk_db:belajaryuk@ac-kew3skk-shard-00-00.1ptcalo.mongodb.net:27017,ac-kew3skk-shard-00-01.1ptcalo.mongodb.net:27017,ac-kew3skk-shard-00-02.1ptcalo.mongodb.net:27017/belajaryuk?ssl=true&replicaSet=atlas-8fnly9-shard-0&authSource=admin&appName=BelajarYuk
RESET_PASSWORD_URL=http://localhost:3004/reset-password
